$green: #618C6B;
$greenlight: lighten($green, 15%);
$greenlighter: lighten($green, 40%);
*{
	margin: 0;
}
html{
	min-height: 100%;
	position: relative;
}
body{
	font-family: 'Lato', sans-serif;
	margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'PT Serif', sans-serif;
}

.img-responsive{
	height: auto !important;
}

.ls-shadow{
	display: none !important;
}

.btn{
	border-radius: 0;
	background: #618C6B;
	border-color: #618C6B;
}

.navbar{
	margin-bottom: 0;
}

.navbar-brand{
	> img{
		display: inline-block;
		margin-right: 10px;
	}
	font-size: 2em;
	height: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.navbar-default .navbar-nav > li {
	> a{
		border-top: 4px solid transparent;
		padding-top: 16px;
		padding-bottom: 20px;
		&:hover{
			border-top: 4px solid #8fba98;
		}
	}
	&.active{
		> a{
			border-top: 4px solid #618C6B;
			color: #618C6B;
			background: transparent;
			&:hover{
				background: transparent;
			}
		}
	}
}

.post{
	&.post-list{
		margin-bottom: 40px;
	}
	.post-wrapper{
		border: 1px solid #ddd;
		box-shadow: 1px 2px 0px 0px rgba(0,0,0,.1);
		overflow: hidden;
	}
	.post-content{
		padding: 20px;

	}
	h2{
	    font-size: 18px;
	    line-height: 27px;
	    font-weight: 700;
        margin-top: 0;
    	margin-bottom: 5px;
    	color: #2a2d2b;
    	a{
    		color: inherit;
    	}
	}
	.post-meta{
		font-size: 13px;
		a{
			color: #2a2d2b;
		}
	}
	.content-sep{
	    height: 6px;
    	border-top: 1px solid #EAEAEA;
    	border-bottom: 1px solid #EAEAEA;
    	margin: 15px 0;
	}
	.inline-sep{
		margin: 0 5px;
	}
}

#sidebar-menu{
	>li{
		border-left: 4px solid $green;
		&.active > a{
			background: $greenlight;
			color: #fff;
			border-color: $green;
			.fa{
				color: #fff;
			}
		}
		> a
		{
			border-radius: 0;
			color: #222;
			padding: 20px;
			
			&:hover{
				background-color: $greenlighter;
			}
		}
	}
	.fa{
		margin-right: 10px;
		vertical-align: middle;
		color: $green;
	}
}


footer{
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
	background: #2a2d2b;
	color: #fff;
	padding: 20px 0;
	p{
		margin: 0;
	}
}